/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset ends here */

/* Header/Nav */
a {
	color: #149074;
	line-height: 1.5em;
	font-family: Lato;
}

.nav-div {
  margin: 0 15px;
}

.main-nav {
  display: -webkit-flex;
  display: flex;
  background-color: white;
  list-style-type: none;
  align-items: center;
  justify-content: center;
	height: 78px;
}

.search-arrange {
	width: 43%;
	margin-right: auto;
}

.main-nav a {
  margin: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
	display: block;
	padding: 5px;
	text-decoration: none;
  font-family: Lato;
  font-weight: bold;
	cursor: pointer;
}

.main-nav > span {
	cursor: pointer;
}

a.nav-btn:link, a.nav-btn:visited  {color: #149074;}

a.nav-btn:hover {
  color: #149074;
  border-bottom: 2px solid #149074;
}

.user-photo {
	border: 2px solid transparent;
	border-radius: 50%;
	height: 50px;
	vertical-align: middle;
}

.user-photo:hover {
	border: 2px solid #149074;
}

.main-nav .logo {
  margin-top: 20px;
  border-radius: 0px;
	display: block;
	padding: 0px;
  background: none;
  height: 45px;
}

.logo_img {
  height: 40px;
}

.search-form {
	margin-left: 10px;
	font-family: Lato;
	color: #149074;
}

.search-term {
	width: 23em;
  border: 2px solid #149074;
	border-right: transparent;
  padding: 10px;
  height: 41px;
  border-radius: 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  outline: none;
	color: #149074;
}

.search-submit {
	width: 41px;
	height: 41px;
	border: 2px solid #149074;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
	position: absolute;
	cursor: pointer;
	padding: 0 10px 0 0;
	outline: none;
	background: #149074;
}

.fa-search {
	margin: 10px 0 0 0;
	color: #fff;
}

#lang-select {
  margin-top: 3px;
	padding: 5px;
  padding-bottom: 5px;
	text-decoration: none;
  font-family: Lato;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  width: 90px;
  border-radius: 3px;
  overflow: hidden;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 11.5px) calc(1em - 0.55px),
    calc(100% - 6.5px) calc(1em - 0.55px),
    calc(100% - 2em) 0.25em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

#lang-select:focus {
  outline: none;
}

.select-style select:focus {
  outline: none;
}

.filter-box {
  float: left;
  display: inline;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
  height: auto;
  background-color: #149074;
  padding: 10px 10px;
  width: 19%;
  color: #ffffff;
}

.filter-box > h1 {
	font-size: 24px;
	margin-bottom: 16px;
}

.datePicker > h1 {
  margin: 5px 0px;
  font-size: 20px;
}

.salsa-calendar-input {
  display: block;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 16px;
  font-family: Lato;
  padding: 3px 5px;
}

.guest-filter {
  margin-bottom: 10px;
}

.guest-filter > h1 {
  margin-top: 16px;
  font-size: 20px;
}

.guest-filter > h3 {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.guest-select {
  margin-top: 3px;
	padding: 5px;
  padding-bottom: 5px;
	text-decoration: none;
  font-family: Lato;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  width: 60px;
  border-radius: 3px;
  overflow: hidden;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 11.5px) calc(1em - 0.55px),
    calc(100% - 6.5px) calc(1em - 0.55px),
    calc(100% - 2em) 0.25em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.guest-select:focus {
  outline: none;
}

.hometype-filter > h1, .projecttype-filter > h1 {
  margin: 16px 0 5px 0;
  font-size: 20px;
}

.checkbox-div > span {
  font-size: 16px;
  color: #ffffff;
}

.hometype-checkbox, .projecttype-checkbox {
  margin: 5px 0px;
  height: 16px;
  width: 16px;
  top: 0;
  left: 0;
  background-color: #eee;
}

.filter-apply, .about-project {
	font-family: Lato;
	margin-top: 10px;
	width: 100%;
	font-size: 1em;
	text-decoration: none;
	border: 1px solid #ffffff;
	border-radius: 30px;
	padding: 10px 20px;
	background-color: #ffffff;
}

button.filter-apply:link, button.filter-apply:visited {
	color: black;
	background-color: #ffffff;
}

button.filter-apply:hover {
  color: black;
	cursor: pointer;
	background-color: lightgray;
	border-color: lightgray;
}

.about-project {
  background-color: #149074;
  border-color: #149074;
  color: #ffffff;
  width: 15%;
}

button..about-project:link, button..about-project:visited {
	background-color: #149074;
  border-color: #149074;
}

button.about-project:hover {
	cursor: pointer;
  background-color: #0f705a;
  border-color: #0f705a;
}


.listing-content {
  width: 75.5%;
  margin-top: 20px;
  margin-left: 295px;
  margin-right: 10px;
  font-family: Lato;
  color: gray;
  padding-right: 30px;
}

.listing-content > h1 {
  color: #149074;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.listing-content > h3 {
  margin-bottom: 30px;
}

.listing-content > p {
  line-height: 1.15;
}

.listing-content > h2 {
  font-size: 20px;
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
}

.listing-content > img {
  display: block;
  width: 100%;
}

/* Main Content */
article {
  background: #eaeaea;
  font-family: Lato;
}

.article-title {
	margin-left: 80px;
  margin-right: 80px;
	padding-top: 60px;
	font-family: Lato;
	font-size: 32px;
	font-weight: bold;
}

.article-title h1 {
	text-align: center;
	color: #149074;
}

.article-wrapper {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
}

.listing-images {
	margin: auto;
}

.article-title > h2 {
	padding-bottom: 30px;
	text-align: center;
	color: #149074;
}

/* Slideshow container */
.slideshow-container {
	min-width: 100%;
  max-width: 100%;
	max-height: 600px;
	min-height: 600px;
  position: relative;
}

.mySlides{
 	width: 100%;
  height: 600px;
  position: relative;
}

.banner_holderImage{
  height: 100%;
  position:relative;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45.5%;
  width: auto;
  padding: 30px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-info {
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

a.slideshow-text{
	font-weight: bold;
	color: #149074;
	font-size: 1em;
	border: 1px solid #149074;
	border-radius: 30px;
	padding: 10px 20px;
	margin-top: 50px;
}

a.slideshow-text:link, a.slideshow-text:visited  {
	color: #149074;
}

a.slideshow-text:hover {
	background-color: #149074;
  color: #ffffff;
}

.listing-content {
}

/* Footer */
footer {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  font-family: Lato;
  padding: 20px 30px;
}

.footer-arrange {
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: block;
}

.footer-text {
  font-family: Lato;
  color: #149074;
}

.footer-subtext {
  font-size: 14px;
  line-height: 20px;
}

a.footer-subtext:link, a.footer-subtext:visited {
  color: #0073bb;
  text-decoration: none;
}

a.footer-subtext:hover {
  color: #0073bb;
  text-decoration: underline;
}

.footer-text-bold {
  font-family: Lato;
  color: #149074;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-content {
  display: block;
  text-align: center;
	font-size: 12px;
  border-top: 1px solid #EBEBEB;
  margin: 10px 30px;
	margin-bottom: 90px;
  padding-top: 15px;
}

.fa {
  padding: 0 10px 10px 10px;
  font-size: 40px;
  width: 18px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-instagram {
	width: 30px;
	padding: 5px;
}

.fa-facebook {
  color: #3B5998;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-instagram {
  color: #125688;
}

@media screen and (max-width: 700px) {
  .main-nav {
    flex-direction: column;
  }
}
